<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cast Iron Classifier{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
	{% block head %}{% endblock %}
</head>
<body>
	<header>
		<h1>Cast Iron Classifier</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/classify">Classify</a></li>
				<li><a href="/search">Search</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
	</header>
	<main>
		{% block content %}{% endblock %}
	</main>
	<footer>
		&copy; 2023 Wojciech Szeliga
	</footer>
	{% block body %}{% endblock %}
</body>
</html>
